@media screen and (max-width:830px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    .logo{
        transform: translate(0,-10px);
    }
    .navbar{
        transform: translate(0, -25px);
    }
    .search-box {
        transform: translate(0, -15px);
    }
    .botao{
        margin-left: 10px;
    }
    .album-principal{
        height: 360px;
    }
}

@media screen and (min-width:100px){
    .descricao{
        width: 50%;
    }
}

@media screen and (max-width:400px){
    .botao{
        margin-top: 5px;
        width: 300px;
    }
}